<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4">
      <h2 class="text-center mb-3">Update Trip</h2>
      <%= render "form", trip: @trip, eu_countries: @eu_countries %>

      <%= link_to 'Back to trips', trips_path %>
    </div>
  </div>
</div>
