<h1>Trips</h1>

<ul>
  <% @trips.each do |trip| %>
  <li><%= link_to trip.final_destination, trip_path(trip) %></li>
<% end %>
</ul>

 <%= link_to 'Add a trip', new_trip_path, class: "btn btn-warning button" %>
