<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4">
      <h1>Create new trip</h1>
      <%= render "form", trip: @trip, eu_countries: @eu_countries %>
    </div>
  </div>
</div>
