<h1>Profile</h1>


<h2>Current trip</h2>

<!-- need to work this out -->

 <%= link_to 'Add a trip', new_trip_path, class: "btn btn-warning button" %>

<%# <h2>Current trip: <%= current_user.user_location %></h2> %>

<%= link_to 'My trips', trips_path %>




