<div class="container text-center justify-content-center">
	<h4 class="container w-100 my-3">Open an account and start saving on all your luxury goods bought abroad</h4>
	<div class="container py-3">
		<img src='<%= asset_path 'Envelope.png' %>' width="200" height="250" alt="">
	</div>
		<div class="d-flex justify-content-center flex-column registration">
		  <%= link_to "Login", new_user_session_path, class: "btn btn-warning button", id: "no-background" %>
		  <%= link_to "Join" , new_user_registration_path, class: "btn btn-warning button" %>
		</div>

</div>

