<%= video_tag "shopping.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "shopping_video" %>

<div class="container text-center justify-content-center", id="logo">
  <h1 id="entice">
    <span id="banner-typed-text"></span>
  </h1>
  <img src='<%= asset_path 'Logo2.png' %>' width="300px" height="100%" alt="">
  <div class="container justify-content-center mt-5">
      <%= link_to "Login" , new_user_session_path, class: "btn btn-warning button w-50" %>
      <br>
      <%= link_to "Not a user yet? Join", new_user_registration_path, class: "btn btn-warning button", id: "no-background" %>
  </div>
</div>
