.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-box {
  background-color:: $alert-blue;
  border: none;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  color: white;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
