.button {
  background-color: $tax-yellow;
  border: none;
  color: $dark-blue;
  width: 200px;
  text-align: center;
}

.delete-button {
  background-color: $our-pink;
  border: none;
  color: $white;
  width: 200px;
  text-align: center;
}

.registration {
  position: absolute;
  top: 80%;
  left: 23%;
}

#no-background {
  background-color: transparent;
}
