.button {
  background-color: $tax-yellow;
  border: none;
  color: $dark-blue;
}

.delete-button {
  background-color: $our-pink;
  border: none;
  color: $white;
  width: 200px;
  text-align: center;
}

.registration {
  font-size: 30px!important;
  position: absolute;
  top: 80%;
  left: 25%;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

#no-background {
  background-color: transparent;
}

#create-trip-placement {
  margin-top: 50px !important;
}

#logo {
  padding: 0px;
}

.card-body .btn-outline-secondary {
  width: 75px;
}

.add-photo {
  position: fixed;
  width: 100%;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: 50px;
}