.home-banner {
  background: transparent;
  background-size: cover;
  height: 92.5vh;
  color: #eee;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgba(0,0,0,.8);
  }
}
