// Import your components CSS files here.
@import "body";
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "map";

body {
  color: #102542;
  a {
    color: #102542;
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

a:hover {
  color: #102542;
  text-decoration: none;
}

header {
  width: 100%;
  height: 90vh;
}



