.menu-wrap {
  width: 100%;
  background-color:white;
  height: 70px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  .hamburger {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
  }
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  font-size: 2em;
}

.hidden {
  display: none;
}
// .logo {
//   position: relative;
//   left: 15em;
//   transform: translateX(2em);
// }

.menu {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 0px;
  overflow: hidden;
  background-color: #BFCBC2;
  -webkit-transition:width 200ms ease-in;
  -moz-transition:width 200ms ease-in;
  -o-transition:width 200ms ease-in;
  transition:width 200ms ease-in;
  z-index: 2;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  text-align: left;
  border-bottom: 2px solid rgba($color: black, $alpha: 0.2);
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba($color: black, $alpha: 0.2);
  li a {
    padding: 20px;
    margin: 0px;
  }
}

.active {
  border-left: 5px solid #ffac30;
  font-weight: bold;
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: 100%;
}