.menu-wrap {
  width: 100%;
  background-color:white;
  height: 70px;
  width: 100%;
  .hamburger {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 200px;
  background-color: #BFCBC2;
}

.menu-close {
  position: relative;
  top: 5px;
  right: 10px;
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  text-align: left;
  border-bottom: 2px solid rgba($color: black, $alpha: 0.2);
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  padding: 30px;
  border-bottom: 2px solid rgba($color: black, $alpha: 0.2);
}