.photo-receipt {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
}

.card-img-top {
  // height: 200px;
  width: 100%;
  object-fit: cover;
  // object-position: 50% 0;
}

// .btn:focus {
//   .btn:active {
//    outline: none !important;
//    box-shadow: none;
//   }
// }

// .btn-group {
//   .btn:focus {
//     outline: none !important;
//     outline-offset: none !important;
//   }
// }


