.pie_chart {
  margin-bottom: 10px;
}

#total {
  position: absolute;
  top: 37%;
  left: 43%;
}

#vatsave {
  color: $our-pink;
  font-weight: light;
  font-size: 40px;
  position: absolute;
  top: 27%;
  left: 33%;
  text-align: center;
}

#refund {
  position: absolute;
  top: 34%;
  left: 37%;
}
