<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4">
      <h2>Edit receipt</h2>
      <%= render "form_edit", receipt: @receipt %>
    </div>
  </div>
</div>
