<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4">
      <h2>Create a new receipt</h2>
      <%= render "form_new", trip: @trip, receipt: @receipt %>
    </div>
  </div>
</div>
