<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center mb-3">New Receipt</h2>
      <%= simple_form_for([@trip, @receipt], url: create_photo_trip_receipts_path(@trip)) do |f| %>
        <%#= f.input :photo, as: :file %>
        <%#= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
        <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo shadow'}, label: '📷 Upload a photo' %>
        <%= f.submit value: "Add Receipt", class: "btn btn-warning button w-100 mb-3" %>
      <% end %>
      <%= cl_image_tag "", crop: :fill, class: "hidden photo-receipt", id: "photo-preview" %>
      <%#= link_to 'Back to trip', trip_path(@trip) %>
    </div>
  </div>
</div>
