<h2 class="text-center">New Receipt</h2>
<%= simple_form_for([@trip, @receipt], url: create_photo_trip_receipts_path(@trip)) do |f| %>
  <%#= f.input :photo, as: :file %>
  <%#= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
  <div style="width: 95%; margin: 150px auto;">
    <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo shadow'}, label: '📷 Upload a photo' %>
  </div>
  <%= f.submit value: "Add Receipt", class: "btn btn-warning button add-photo" %>
<% end %>
<%= cl_image_tag "", crop: :fill, class: "hidden photo-receipt", id: "photo-preview" %>
<%#= link_to 'Back to trip', trip_path(@trip) %>

